$background-offwhite: #F8F5EF;
$highlight-orange: #D1792A;
$name-green: #138D75;
$nav-blue: #4592D7;
$selection-yellow: #F4D03F;
$project-offwhite: #FFFFF9;
$project-offwhite-blue: #FAFDFB;
$highlight-green: #D4EFDF;
$mobile-threshold: 480px;


body {
  font-family: 'Hind', sans-serif;
  background-color: $background-offwhite;
  margin-bottom: 70px;
  position: relative;
}

.section {
  padding-left: 270px;
  padding-right: 270px;
  margin-bottom: 60px;

  @media only screen and (max-width : $mobile-threshold) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
  }
}

#intro {
  margin-top: 110px;
}

.thumbnail {
  background-color: $project-offwhite;
}

.thumbnail:hover {
  background-color: $project-offwhite-blue;
}

nav {
  font-family: "Hind", sans-serif;
  font-size: 120%;
  font-weight: 400;
}

.big-heading {
  font-size: 55px;
  margin-bottom: 20px;
}

.section-heading {
  font-size: 40px;
  margin-bottom: 25px;
}

.intro-text {
  margin-top: 30px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}

.main-text {
  line-height: 35px;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 20px;
}

.project-title {
  margin: 10px;
  color: $highlight-orange;
  font-weight: bolder;
  font-size: 25px;
  border: none;
}

.project-text {
  color: black;
  margin: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  font-size: 18px;
}

.navbar-default {
  background-color: $background-offwhite;
  border: none;
}

a.navbar-brand {
  font-family: "Hind", sans-serif;
  font-size: 130%;
  color: $name-green !important;
  margin-right: 80px;
  font-weight: 700;
}

li.active a {
  background-color: inherit !important;
  border-bottom: solid 2px;
  padding-bottom: 3px;
}

.navbar-nav a {
  color: $nav-blue !important;
}

a, a:hover {
  color: $highlight-orange;
  text-decoration: none;
}

::selection {
  background-color: $selection-yellow;
}

mark {
  background: $highlight-green;
  padding: 0em;
}

.img-responsive {
  width: 400px;
}

.centered {
  text-align: center;
}

.bold {
  font-weight: 500;
}