/*
background color: #F8F5EF
link color: #D1792A
narbar name color: #138D75
navbar link color: #4592D7
 */

body {
  font-family: 'Nunito', sans-serif;
  background-color: #F8F5EF;
  margin-bottom: 70px;
}

div#intro, div#about, div#projects, div#showcase, div#contact, div#intern, div#bookmarks {
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 70px;
}

div#intro {
  margin-top: 90px;
  text-align: center;
}


div#intro h3 {
  font-weight: lighter;
}

div.thumbnail {
  background-color: #FFFFF9;
}

div.thumbnail:hover {
  background-color: #FAFDFB;
}

nav {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 120%;
}

#me-ucla-heading {
  font-size: 45px;
  font-weight: 400;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

p.intro {
  margin-top: 20px;
  font-size: 25px;
  line-height: 40px;
  font-weight: 300;
}

p.lead {
  line-height: 150%;
}

p.project-title {
  margin: 10px;
  color: #D1792A;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  border: none;
  font-family: "Lato", sans-serif;
}

p.project-text {
  font-family: 'Hind', sans-serif;
  color: black;
  margin: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

.navbar-default {
  background-color: #F8F5EF;
  border: none;
}

a.navbar-brand {
  font-family: "Nunito", sans-serif;
  font-size: 130%;
  color: #138D75 !important;
  margin-right: 80px;
}

li.active a {
  background-color: inherit !important;
  border-bottom: solid 2px !important;
  padding-bottom: 3px !important;
}

.navbar-nav a {
  color: #4592D7 !important;
}

.navbar-brand {
  color: #D1792A !important;
}

table {
  font-family: 'Hind', sans-serif;
  font-weight: lighter;
}

a {
  color: #D1792A !important;
}

mark {
  background: #D4EFDF;
  padding: 0.1em;
}

.row a {
  text-decoration: none;
}

.img-responsive {
  height: 400px;
  width: 400px;
}

small {
  font-weight: 300;
  font-size: 20px;
  padding-left: 10px;
}
