body {
  font-family: "Nunito", sans-serif;
  background-color: #F7F1E8;
  margin-bottom: 60px;
}

.navbar-default {
  background-color: #F7F1E8;
  border: none;
}

a.navbar-brand {
  font-family: "Nunito", "Lato", sans-serif;
  font-size: 130%;
  color: #138D75 !important;
  margin-right: 60px;
}

li.active a {
  background-color: inherit !important;
  border-bottom: solid 1px !important;
  padding-bottom: 3px !important;
  font-weight: bold !important;
}

nav {
  font-family: "Lato", sans-serif;
  font-size: 130%;
}

nav a {
  color: #D1792A !important;
}

a {
  color: #D1792A !important;
}

#intro h3 {
  font-weight: lighter;
}

#about h2, #projects h2, #intern h2, #contact h2 {
  text-align: center;
  margin-bottom: 50px;
}

mark {
  background: #D4EFDF;
  padding: 0.1em;
}

div#about, div#projects, div#contact {
  padding-left: 70px;
  padding-right: 70px;
}

.row a {
  text-decoration: none;
}

p.lead {
  line-height: 150%;
}

p.project-title {
  margin: 10px;
  color: #D1792A;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  border: none;
  font-family: "Lato", sans-serif;
}

p.project-text {
  color: black;
  margin: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

div.thumbnail {
  background-color: #FFFFF9;
}

div.thumbnail:hover {
  background-color: #FAFDFB;
}

small {
  font-weight: 300;
  font-size: 20px;
  padding-left: 10px;
}
